* {
   margin: 0;
   padding: 0;
   list-style: none;
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
}

html {
   margin: 0;
   padding: 0;
}
body {
   font: 75% georgia, sans-serif;
   line-height: 1.88889;
   color: #fff;
   background: #fff url(https://images.unsplash.com/photo-1577026458711-b769688bd565?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2098&q=80) no-repeat fixed;
   background-size: cover;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}
p {
   margin-top: 0;
   text-align: justify;
}

header {
   padding-top: 5px;
   height: 87px;
}

header h1 {
   font-size: 9rem;
   font-family: 'Abril Fatface', cursive;
   font-weight: 200;
   margin: 0;
   text-shadow: 0px 0px 20px rgba(15, 16, 16, 0.749);

}

header h2 {
   font-size: 5.5rem;
   font-family: 'Abril Fatface', cursive;
   font-weight: 100;
   line-height: 1rem;
   margin: 0;
   text-shadow: 0px 0px 20px rgba(15, 16, 16, 0.749);
   position: relative;
   left:1%;
}

a:link {
   font-weight: bold;
   text-decoration: none;
   color: #f3f9b6;
}
a:visited {
   font-weight: bold;
   text-decoration: none;
   color: #ff810a;
}
a:hover,
a:focus,
a:active {
   text-decoration: underline;
   color: #9685ba;
}
abbr {
   border-bottom: none;
}

/* specific divs */
.page-wrapper {
   padding: 0 175px 0 110px;
   margin: 0;
   position: relative;
}

.intro {
   min-width: 470px;
   width: 100%;
}



#banner {
   font-family: 'Roboto', sans-serif;
   color: #fff;

}

.summary {
   color: #ffffff;
   font-size: 20px;
   position: relative;
   top: 280px;
   left: 20px;
   text-shadow: 0px 0px 10px rgba(15, 16, 16, 0.749);
}

.summary p {
   font: italic 1.1em/2.2 georgia;
   text-align: justify;
}

.preamble {
   color: #ffffff;
   background: url(./images/flower04.jpg);
   background-size: cover;
   background-attachment: fixed;
   background-color: rgba(255, 255, 255, 0.4);
   border-radius: 1rem;
   font-size: 16px;
   height: 500px;
   width: 1200px;
   clear: right;
   float: left;
   position: relative;
   top: 800px;
   padding: 40px 60px;
   box-shadow: 0px 0px 20px rgba(15, 16, 16, 0.618);
   text-shadow: 2px 2px 50px rgba(15, 16, 16, 0.959);
}

.preamble p {
   text-align: justify;
   width: 400px;
}

.explanation {
   color: #ffffff;
   background: url(./images/flower01.jpg);
   background-size: cover;
   background-attachment: fixed;
   background-color: rgba(255, 255, 255, 0.4);
   border-radius: 1rem;
   font-size: 16px;
   height: 500px;
   width: 600px;
   clear: both;
   float: right;
   position: relative;
   top: 900px;
   right: 100px;
   padding: 40px 60px;
   box-shadow: 0px 0px 20px rgba(15, 16, 16, 0.618);
   text-shadow: 2px 2px 50px rgba(15, 16, 16, 0.959);
}

.requirements {
   background: url(./images/flower02.jpg);
   background-size: cover;
   background-attachment: fixed;
   color: #ffffff;
   background-color: rgba(255, 255, 255, 0.4);
   border-radius: 1rem;
   font-size: 16px;
   height: 550px;
   width: 1200px;
   float: left;
   position: relative;
   top: 300px;
   padding: 40px 60px;
   box-shadow: 0px 0px 20px rgba(15, 16, 16, 0.618);
}


.participation {
   background: url(./images/green.jpg);
   background-size: cover;
   background-attachment: fixed;
   color: #ffffff;
   border-radius: 1rem;
   font-size: 16px;
   height: 350px;
   width: 1200px;
   float: right;
   clear: both;
   position: relative;
   top: 1600px;
   right: 200px;
   padding: 40px 30px;
   box-shadow: 0px 0px 20px rgba(15, 16, 16, 0.618);
   text-shadow: 2px 2px 50px rgba(15, 16, 16, 0.959);
}

.benefits {
   background: url(./images/flower05.jpg);
   background-size:contain;
   background-attachment: fixed;
   color: #ffffff;
   border-radius: 1rem;
   font-size: 16px;
   height: 320px;
   width: 500px;
   float: left;
   position: relative;
   top: 1700px;
   padding: 40px 30px;
   box-shadow: 0px 0px 20px rgba(15, 16, 16, 0.618);
   text-shadow: 2px 2px 50px rgba(15, 16, 16, 0.959);
}



footer {
   font-family: 'Montserrat', sans-serif;
   font-style: italic;
   font-size: 14px;
   background-color: rgba(0, 0, 0, 0.39);
   text-align: center;
   overflow: hidden;
   clear: both;
   text-align: center;
   position: relative;
   top: 70vw;
   left: -110px;
   height: 50px;
   width: 100vw;
}

footer a {
   position: relative;
   top: 20%;
}


.sidebar {
   background-color: #00000052;
   position: fixed;
   margin-left: 600px;
   overflow: hidden;
   border-radius: 1rem;
   bottom: 100px;
   right: 20px;
   font-family: 'Julius Sans One', sans-serif ;
   z-index: 9999;
}
.sidebar .wrapper {
   font: 10px verdana, sans-serif;
   background: transparent url() top left repeat-y;
   padding: 15px;
   width: 150px;
}
.sidebar h3.select {
   background: transparent url() no-repeat top left;
   width: 97px;
   height: 16px;
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}
.sidebar h3.archives {
   background: transparent url() no-repeat top left;
   width: 57px;
   height: 14px;
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}
.sidebar h3.resources {
   background: transparent url() no-repeat top left;
   width: 63px;
   height: 10px;
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}

.sidebar ul {
   margin: 0;
   padding: 0;
}
.sidebar li {
   line-height: 1.5em;
   background: transparent url() no-repeat top center;
   display: block;
   padding-top: 5px;
   margin-bottom: 5px;
   list-style-type: none;
}
.sidebar li a:link {
   color: #ffffff;
}
.sidebar li a:visited {
   color: #96640c;
}

.extra1 {
   background: transparent url() top left no-repeat;
   position: absolute;
   top: 40px;
   right: 0;
   width: 148px;
   height: 110px;
}
